li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 15px;
    background-color: #32bed3;
}
ul {
    background-color:#32bed3 ;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    background-color: #32bed3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #268466;
}
.active {
    background-color: #32bed3;
}

body {
  margin: 30px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
 
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 150% 150% ;
        grid-template-areas:
    "header  header"
        "sidebar content"
        "footer footer";
        background-color: #fff;
        color: #444;
    }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 100%;
}

.header,
.footer {
  background-color: #999;
}

.topleft {
  
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
    color: #32bed3 ;
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
     font-size: 80px;
    {
        
h3 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    }
